{
  "plugins": [
    [
      "module-resolver", {
        "root": ["."],
        "alias": {
          "styles": "./styles"
        },
        "cwd": "babelrc"
    }],
    [
      "wrap-in-js",
      {
        "extensions": ["css$"]
      }
    ],
    "transform-runtime"
  ],
  "presets": [
    "es2015",
    "stage-0",
    "react",
    "next/babel"
  ],
  "ignore": []
}
