.Button {
  text-decoration: none;
  text-align: center;
  background: none;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.Button:hover {
  color: #CA0813;
}

.Button:focus {
  outline: none;
}
