h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 56px;
  color: #666666;
  display: block;
}

h3 {
  font-weight: 300;
  font-size: 24px;
  color: #666666;
  display: block;
}

a {
  font-size: 16px;
  color: #03A9F4;
  text-decoration: none;
}

a:hover {
  border-bottom: 2px solid #03A9F4;
}
