.Container {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 56px;
  color: #666666;
  display: block;
}

h3 {
  font-weight: 300;
  margin: 10px 0;
  font-size: 24px;
  color: #666666;
  display: block;
}

a {
  font-size: 16px;
  color: #CA0813;
  text-decoration: none;
  margin: 10px;
}

a:hover {
  border-bottom: 2px solid #CA0813;
}
