.TeamList {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.TeamImage {
  width: 32px;
  height: auto;
  padding: 5px;
  border-radius: 10px;
}

.TeamImage:hover, .TeamImage.active {
  background-color: #f0f0f0;
}
