.GameOverview {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

.LogoScore, .GameSummary {
    color: #6a6a6a;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.LogoScore.Winner {
   border: 2px solid #CC0000;
   padding: 10px;
   border-radius: 25px;
}

.LogoScoreImage {
    width: 120px;
}

.GameSummaryTitle {
    font-size: 28px;
}

.GameSummaryDate {
    font-size: 18px;
    padding: 10px;
}
