.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
    border: 16px solid #CCCCCC; /* Light grey */
    border-top: 16px solid #03A9F4; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
