.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
    border: 8px solid #eee; /* Light grey */
    border-top: 8px solid #CA0813; /* Blue */
    border-radius: 50%;
    width: 45px;
    height: 45px;
    animation: spin 0.5s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
